body {
	font-family: 'Metrophobic', arial, serif;
}

body a{
	color:#78B47B;
	text-decoration:none;
}

body a:hover{
	color:#78B47B;
	text-decoration:none;
}

.logo {
  font-size: 65px;
  font-style: bold;
  font-weight: 700;
  text-shadow: 6px 6px 6px #ccc;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.117em;
  word-spacing: -0.011em;
  line-height: 1.2;
  float:left;
  color:#333333;
}

.logo:hover {
  text-decoration: none;
  color:#333333;
}

.green {
	color:#78B47B;
}

#header {
	background-color:#FEFEFE;
	height:90px;
	clear:both;
}

#header ul {
	float:left;
	margin:0;
	margin-top:35px;
	text-align:right;
	width:574px;
}

#header ul li {
  list-style-type:none;  
  display: inline-block;
  padding: 0.2em 0;
}

#header ul li a {
  padding: 0 10px;
  font-weight: bold;
  color:#333333;
  font-size: 18px;
  text-decoration:none;
}

#header ul li a:hover {
  color:#78B47B;
}

#feature {
	background:transparent url(../images/feature_bg.png) no-repeat scroll 50% 0;
	background-color:#000000;
}

#feature .top_shadow {
	background:transparent url(../images/feature_t_shadow.png) repeat-x scroll 0 0;
	font-size:0;
	height:10px;
	line-height:10px;
	overflow:hidden;
}

#feature .bottom_shadow {
	background:transparent url(../images/feature_b_shadow.png) repeat-x scroll 0 0;
	font-size:0;
	height:9px;
	line-height:9px;
}

#feature .inner {
	padding:15px 0;
}

.inner {
	height:100%;
	margin:0 auto;
	position:relative;
	width:960px;
}

#feature h1 {
	font-size:3.5em;
	margin-bottom:0;
	padding:2px 0;
	color:#FFFFFF;
	font-size:32px;
}

#page {
	background:transparent url(../images/page_top_line.png) repeat-x scroll 0 0;
	position:relative;
	background-color:#FEFEFE;
	color:#333333;
	font-size:12px;	
}

#page .inner {
	padding:40px 0 0;
}

#page_bottom {
	background:transparent url(../images/page_bottom_line.png) repeat-x scroll 0 0;
	height:30px;
	background-color:#FEFEFE;
}

#footer {
	background:transparent url(../images/footer.png) no-repeat scroll 50% 0;
	background-color:#000000;
	color:#FFFFFF;
	font-size:12px;
}

#footer_shadow {
	background:transparent url(../images/footer_shadow.png) repeat-x scroll 0 0;
	font-size:0;
	height:10px;
	line-height:10px;
	overflow:hidden;
}

#footer_bottom {
	background:transparent url(../images/footer_bottom.png) repeat-x scroll 50% 0;
	letter-spacing:1px;
	background-color:transparent;
}

#footer .inner {
	overflow:hidden;
	padding:30px 0 40px;
	padding:12px 0;
}

div.field, div.actions {
  	margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: #CC0000;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid #CC0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

div.success {
	background:#E6EFC2 none repeat scroll 0 0;
	border-color:#78B47B;
}
