
<h2>All your events</h2>

<% unless @events.empty? %>
<%= will_paginate @events %>
<ul class="users">
  <% @events.each do |event| %>
    <li>
      <%= event.name %> <br />
      Created <%= time_ago_in_words(event.created_at) %> ago.
    </li>
  <% end %>
</ul>
<%= will_paginate @events %>
<% end %>




