<% if !signed_in? %>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lectus nunc, pulvinar at adipiscing a, tincidunt ut lacus. Curabitur sit amet erat risus. Nulla facilisi. Phasellus ullamcorper orci quis leo aliquam lobortis. In pellentesque auctor nunc at porta. Vestibulum in justo nisl, vel adipiscing sem. Aenean pretium sem at sapien lacinia ut rutrum magna tristique. Donec cursus nulla id felis venenatis ut semper tortor varius. Donec porta, urna eget consequat laoreet, neque nisi tincidunt mi, sit amet adipiscing purus nisl id mauris. Cras dolor eros, egestas sit amet suscipit posuere, gravida id libero. Etiam condimentum neque et lectus ultrices quis tincidunt arcu blandit. Ut vel arcu arcu, eget gravida nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

Quisque semper tempor nisi, ut hendrerit odio facilisis pulvinar. Suspendisse potenti. In cursus ultrices justo nec malesuada. Nunc eu tempor purus. In mauris ante, feugiat vitae consequat sit amet, vulputate ac est. Duis diam lectus, sollicitudin pretium sollicitudin vel, pulvinar nec nunc. Proin iaculis sagittis risus ornare ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer egestas leo vel quam interdum in rutrum nibh mattis. Sed sodales augue a neque dapibus tincidunt. Nulla faucibus lacus eu nulla pulvinar tempor gravida justo rhoncus. Vestibulum fermentum, mi vitae lobortis facilisis, ligula urna elementum quam, non feugiat odio magna faucibus nisl.
</p>
<% else %>
<%= render 'shared/event_form' %>

<% end %>
