<div id="page_bottom"></div>
<div id="footer">
	<div id="footer_shadow"></div>
	<div class="inner">gtrshrdh<br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
	<div id="footer_bottom">
		<div class="inner">&copy; 2011 YouSport.</div>
	</div>
</div>
